nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.form-control {
  width: 50%;
}

main {
  margin-top: 200px;
}

button:focus,
button:enabled:hover,
[role="button"]:focus,
[role="button"]:not([aria-disabled="true"]):hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover,
label[type="button"]:focus,
label[type="button"]:hover {
  filter: brightness(1.4);
  cursor: pointer;
}

