{% extends "auctions/layout.html" %} {% block main %}
<h2>Closed Listings</h2>

{% if length == 0 %}
<h4>No Closed Listings!</h4>

{% else %}



<article>
  {% for listing, winner in zipped %}
  
  <section>
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 300px"
    />
    {% endif %}
    <h2>{{listing.title}}</h2>
    {% if winner.bid == listing.highestbid %}
    Sold for: ${{listing.highestbid}} to {{winner.user}}
    {% else %}
    Sold for: ${{listing.highestbid}}
    {% endif %}
    <br>
    {{listing.description}}
  </section>

  
  {% endfor %}
  {% endif %}
</article>
{% endblock %}
