{% extends "auctions/layout.html" %} {% block main %}
<h2>Closed Listings</h2>

{% if length == 0 %}
<h4>No Active Listings!</h4>

{% else %}

<article>
  {% for listing in listings %}

  <section>
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 300px"
    />
    {% endif %}
    <h2>{{listing.title}}</h2>
    Sold for: ${{listing.highestbid}}
    <br>
    {{listing.description}}
  </section>

  {% endfor %}
  {% endif %}
</article>
{% endblock %}
