{% extends "auctions/layout.html" %} {% block main %}
<h2>Active Listings</h2>

{% if length == 0 %}
<h4>No Active Listings!</h4>

{% else %}
<article>
  {% for listing in listings %}
  <section>
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 300px"
    />
    {% endif %}
    <br>
    <small>Posted by {{listing.user}}</small>
    <h2><a href="{% url 'listing_page' listing.id %}">{{listing.title}}</a></h2>
    Price: ${{listing.price}}
    <br>
    {{listing.description}}

    
  </section>

  {% endfor %}
  {% endif %}
</article>

{% endblock %}
