{% extends "auctions/layout.html" %} {% block main %}





<h1>Active Listings</h1>


{% if length == 0 %}
No Active Listings!

{% else %}
<div id = "accordion">


  {% for listing in listings %}


  <h3>{{listing.title}}</h3>
  <section>
    <div>
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <a href="{% url 'listing_page' listing.id %}">
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 300px"
    />
    </a>
    {% endif %}
    <br>
  
    <small>Posted by {{listing.user}}</small>

    <form class="toggle-form" data-listing_id={{listing.id}} action="{% url 'api-toggle-watchlist' listing_id=listing.id %}" method="POST">
      {% csrf_token %}
        {% if listing in user_list %} 
        <input type="image" src="/media/images/heart-filled.png" style="max-height: 50px" id="toggler-icon-{{listing.id}}">
        {% else %}
        <input type="image" src="/media/images/heart-outline.png" style="max-height: 50px" id="toggler-icon-{{listing.id}}">
        {% endif %}
    </form>


    <br>
    <h2><a href="{% url 'listing_page' listing.id %}">{{listing.title}}</a></h2>
    <br>

    
    Price: ${{listing.price}}
    <br>
    {{listing.description}}

  </div>
  </section>
  {% endfor %}
  {% endif %}


</div>

<script>
  $( "#accordion" ).accordion();
</script>

{% endblock %}
