{% extends "auctions/layout.html" %} {% block main %}
<h2>Active Listings</h2>

<article>
  {% for listing in listings %}

  <section>
    {% if listing.image == 'No image' %}
    <p>No image</p>

    {% else %}
    <img
      src="{{listing.image.url}}"
      alt="{{listing.image}}"
      style="max-height: 300px"
    />
    {% endif %}
    <h2><a href="{% url 'listing_page' listing.title %}">{{listing.title}}</a></h2>
    Price: ${{listing.bid}}
    <br>
    {{listing.description}}
  </section>

  {% endfor %}
</article>
{% endblock %}
