{% extends "auctions/layout.html" %} {% block main %}

<h2>{{listing.title}}</h2>

<small>Posted by {{listing.user}}</small>
<br>
<img
  src="{{listing.image.url}}"
  alt="{{listing.image}}"
  style="max-height: 300px"
/>
<div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelector("#toggle-watchlist").onsubmit = ()=> {
      form = document.querySelector('#toggle-watchlist');
      const formData = new FormData(form);
      fetch(form.action, {
        method: "POST",
        body: formData
      })
      .then(response => {
          return response.json()})
      .then(data => {
          console.log(data);
          if (data["current_status"] === "on") {
            document.querySelector("#toggle").src= "/media/images/heart-filled.png";
          }
          else {
            document.querySelector("#toggle").src= "/media/images/heart-outline.png";
          }
        })
        .catch(error => {
          console.log("*** api/listing error ***", error);
        })
        return false;
  }
})
</script>



<form id="toggle-watchlist" action="{% url 'api-toggle-watchlist' listing_id=listing.pk %}" method="POST">
  {% csrf_token %}
    {% if watching and watching.active == 1 %} 
    <input type="image" src="/media/images/heart-filled.png" style="max-height: 50px" id="toggle">
    {% elif not watching or watching.active == 0 %}
    <input type="image" src="/media/images/heart-outline.png" style="max-height: 50px" id="toggle">
    {% endif %}
</form>

  
</div>

<br>
Original Price: ${{listing.price}}
<br>
Description: {{listing.description}}
<br>
Category: {{listing.get_category_display}}
<br>
<br>


{% if user.is_authenticated  %}
    
    {% if user != listing.user and listing.active == 1 %}
    Minimum bid:
    <form action="{% url 'listing_page' listing.id %}" method="POST">  
      {% csrf_token %}          
      <input type="number" label="Bid Amount" name="amount"
      {% if total_bids == 0 %} 
      min="{{listing.price}}" value="{{listing.price}}"
      {% endif %}
      {% if listing.highestbid > listing.price %}
      min="{{listing.highestbid|add:"1"}}" value="{{listing.highestbid|add:"1"}}"
      {% else %}
      min="{{ listing.price|add:"1"}}" value="{{listing.price|add:"1"}}"
      {% endif %} >
      <button type="submit" name="bid">Bid</button>
    </form>
    {% endif %}

    {% if total_bids == 0 %}
    No bids yet
    {% elif total_bids == 1 %}
    {{total_bids}} bid total <br>
    {% else %}
    {{ total_bids }} bids total <br>
    {% endif %}

    {% if user != listing.user %}
      {% if winner.user_id == user.id %}
      You currently have the highest bid at ${{listing.highestbid}}
      {% endif %}
    {% endif %}
  {% if user == listing.user and listing.active == 1%}
    <form action="{% url 'listing_page' listing.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="close">Close This Auction</button>
    </form>
    {% endif %}
{% endif %}

<hr>
<br>
Comments on listing: <br>
{% if comments %}
{% for comment in comments %}
{{comment.user}}:
{{ comment.commment }}<br>
{% endfor %}
{% endif %}

<br>
{% if user.is_authenticated %}
      <div>
        <form action="{% url 'listing_page' listing.id %}" method="POST">
          {% csrf_token %}
          {{ comment_form }}
          <button type="submit" name="comment">Post</button>
        </form>
      </div>
{% endif %}

{% endblock %}
