{% extends "auctions/layout.html" %} {% block main %}


<h2>Watchlist</h2>

{% if watchlist == 0 %}
<h4>Nothing has been added to your watchlist yet</h4>

{% else %}

{% for w in watching %}

{% if w and w.active == 1 %}

<h1><a href="{% url 'listing_page' w.id %}">{{w.title}}</a></h1>

<small>Listing by {{w.user}}</small>
<br>

Price: ${{w.price}}
<br>
{% if w.highestbid == 0 %}
No bids yet
{% else %}
Current Bid: ${{w.highestbid}}
{% endif %}

<hr>

{% endif %}
{% endfor %}

{% endif %}


{% endblock %}

